[Unit]
Description=Libvirt network local socket
Before=virtnetworkd.service


[Socket]
ListenStream=/run/libvirt/virtnetworkd-sock
Service=virtnetworkd.service
SocketMode=0666
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
