[Unit]
Description=Libvirt qemu local read-only socket
Before=virtqemud.service
BindsTo=virtqemud.socket
After=virtqemud.socket


[Socket]
ListenStream=/run/libvirt/virtqemud-sock-ro
Service=virtqemud.service
SocketMode=0666

[Install]
WantedBy=sockets.target
