[Unit]
Description=Libvirt proxy local socket
Before=virtproxyd.service
Conflicts=libvirtd.socket libvirtd-ro.socket libvirtd-admin.socket libvirtd-tcp.socket libvirtd-tls.socket

[Socket]
ListenStream=/run/libvirt/libvirt-sock
Service=virtproxyd.service
SocketMode=0666
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
