[Unit]
Description=Libvirt interface local socket
Before=virtinterfaced.service


[Socket]
ListenStream=/run/libvirt/virtinterfaced-sock
Service=virtinterfaced.service
SocketMode=0666
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
